@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier Prime', monospace;
    background-color: #fffffe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}

h1 {
    color: #00214d;
    text-transform: uppercase;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: #f2f4f6 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.controls {
    background: #f2f4f6;
    color: #f2f4f6;
    width: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play {
    color: #00ebc7;
}

.controls .fa-stop {
    color: #ff5470;
}

.controls fa-pause {
    color: #fde24f;
}

.controls .timestamp {
    color: #0e172c;
    font-weight: bold;
    margin-left: 10px;
}

.btn:focus {
    outline: 0;
}

@media(max-width: 800px) {

    .screen,
    .controls {
        width: 90%;
    }
}